.parentHolder {
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    align-items: center;
}

.actionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--two-size);
    font-weight: bold;
    background-color: var(--white);
    border: solid 2px var(--grey);
    border-radius: 1000px;
    color: var(--text);
    margin: 8px;
    cursor: pointer;
    font-size: var(--three-size);
    width: var(--three-size);
    height: var(--three-size);
}

.actionButton::selection,
.quanity::selection {
    background-color: unset;
    color: unset;
}

.cartElementQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-size: var(--three-size);
    font-weight: bold;
}

.textQuantity {
    font-size: var(--two-size);
    font-weight: bold;
    color: var(--black-grey);
}