.parentHolder {
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    align-items: center;
}

.actionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    background-color: #111;
    color: #fff;
    box-sizing: border-box;
    margin: 8px;
    cursor: pointer;
}

.actionButton::selection,
.quanity::selection {
    background-color: unset;
    color: unset;
}

.quanity {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}