.singleProductHolder {
    display: flex;
    flex: 1 1 100%;
    margin: var(--two-size);
    border-radius: 8px;
    box-shadow: 1px 1px 4px var(--white-grey);
    border: solid 2px var(--whitest-grey);
    border-radius: var(--two-size);
}


.singleProductSingleColumn {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: var(--one-size);
}

.productImage {
    max-width: 200px;
    max-height: 140px;
    margin: var(--two-size) auto;
}

.singleProductSubholderSingleLine {
    display: flex;
    flex: 1 1 50%;
}

.productTitle {
    font-weight: bold;
    font-size: var(--three-size);
    color: var(--text);
}

.productRating {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.productRating span {
    color: var(--yellow);
}

.productDescription {
    font-size: var(--two-size);
}

.productPrice {
    font-size: var(--three-size);
    font-weight: bold;
    justify-content: center;
    align-items: flex-end;
}


.emptyColumn {
    display: flex;
}

.CTA {
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 4px #eee;
    padding: 8px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .singleProductHolder {
        flex-direction: column;
    }

    .emptyColumn {
        display: none;
    }
}