:root {
    --background: #e8e8e8;
    --text: #111;
    --white: #fafafa;
    --whitest-grey: #eee;
    --white-grey: #ccc;
    --grey: #888;
    --black-grey: #444;
    --blue: #186E8B;
    --yellow: #FFDA33;
    --red: #E00400;
}