.mainCartHolder {
    display: flex;
    background-color: rgba(150, 150, 150, .8);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    -webkit-transition: right .2s .2s ease;
    backdrop-filter: blur(2px);
}

.hiddenCart {
    right: -100vw;
}

.visibleCart {
    right: 0;
}