.App {
    display: grid;
    grid-template-columns: [first] 48px [line1] auto [end];
    grid-template-rows: [first] 48px [line1] auto [end];
}

.header {
    grid-column-start: first;
    grid-column-end: line1;
    grid-row-start: first;
    grid-row-end: end;
    background-color: aqua;
}

.mainBody {
    grid-column-start: line1;
    grid-column-end: end;
    grid-row-start: first;
    grid-row-end: end;
}

@media only screen and (max-width: 600px) {
    .header {
        grid-column-start: first;
        grid-column-end: end;
        grid-row-start: first;
        grid-row-end: line1;
    }

    .mainBody {
        grid-column-start: first;
        grid-column-end: end;
        grid-row-start: line1;
        grid-row-end: end;
    }
}