@import "./style/general.style.css";

.App {
    display: grid;
    grid-template-columns: [first] 48px [line1] auto [end];
    grid-template-rows: [first] 48px [line1] auto [end];
    height: 100%;
    width: 100%;
    color: var(--text);
}


.header {
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: first;
    grid-row-end: line1;
    background-color: var(--white);
    box-shadow: 0 0 8px var(--white-grey);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainBody {
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: line1;
    grid-row-end: end;
    background-color: var(--white);
    z-index: 3;
}

@media only screen and (min-width: 600px) {

    .header {
        grid-column-start: first;
        grid-column-end: line1;
        grid-row-start: first;
        grid-row-end: end;
    }

    .mainBody {
        grid-column-start: line1;
        grid-column-end: end;
        grid-row-start: first;
        grid-row-end: end;
    }
}